@import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

/* hide scrollbar for IE, Edge and FireFox */
.scrollbar-hide{
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

